/* About.css */

/* *{
  padding: 0;
  margin: 0;
  overflow: hidden;
} */

.about {
    padding: 60px 20px;
    background-color:#010103;
    font-weight: lighter;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
    color: #d3ad7f;
    text-align: center;
  }
  
  .about-content {
    max-width: 800px;
    margin: 0 auto 40px auto;
  }
  
  .intro {
    font-size: 1.6rem;
    line-height: 1.8;
   color: #fff;
    padding: 20px;
    border-radius: 12px;
    
  }
  .team{
    border-radius: 1px solid #fff;
  }
  
  .subheading {
    font-size: 4rem;
    margin-bottom: 30px;
    color: #d3ad7f;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .head{
    color: #d3ad7f;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 4rem;

  }
  
  .hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;

  }
  
  .hero {
    background-color: #010103;
    border: 1px solid #d3ad7f;
    padding: 20px;
    width: 200px;
    transition: transform 0.3s ease;
    border-radius: 10px;
    height: 200px;
    
  }
  
  .hero:hover {
    transform: translateY(-8px);
  }
  span{
    color:#d3ad7f;
  }
  .hero img {
    /* width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 15px; */
      width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 1px solid #d3ad7f;
  }
  
  .hero h3, h2 {
    margin: 10px 0 5px;
    font-size: 1.3rem;
    color:#fff;
  }
  
  .hero p {
    font-size: 1.3rem;
    color:#d3ad7f;
    font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .hero-container {
      flex-direction: column;
      align-items: center;
    }
  
    .intro {
      font-size: 1rem;
    }
  
    .subheading {
      font-size: 1.5rem;
    }
  }
  