.contact-section {
    width: 100%;
    padding: 20px 0;
    margin-top: 10rem;
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 2rem;
}
hr {
    border: none;
    height: 1px;
    background-color: #ccc; /* Or white if your background is dark */
    margin: 20px 0;
  }
  
.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
    
    
}
.operation-hours {
  margin-top: 10px;
}

.operation-hours h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #d3ad7f;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.operation-hours ul {
  list-style-type: none;
  padding-left: 0;
}

.operation-hours ul li {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #ccc;
  text-transform: uppercase;
}




/* Left contact form */
.form-horizontal {
    width: 100%;
    max-width: 400px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #000;
    padding: 20px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
}

.form-control,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}

textarea {
    resize: none;
}

.send-button {
    width: 100%;
    padding: 10px;
    background-color: #d3ad7f;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.send-button:hover {
    background-color: #9c6624;
    color: #fff;
}
.contact-icon{
    color: #d3ad7f;
}
.alt-send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Right contact details */
.direct-contact-container {
    width: 100%;
    max-width: 400px;
    margin-top: 30px;
    text-align: left;
    /* margin-left: 20px; */
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item {
    line-height: 2.5;
    font-size: 18px;
    color: #d3ad7f;
}

.contact-text {
    margin-left: 20px;
    color: #bbb;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.contact-text a:hover {
    color: #fff;
}
.social-media-list {
    text-align: center;
    padding: 0;
    margin: 20px 0;
}

.social-media-list li {
    display: inline-block;
    margin: 10px;
}

.social-media-list li a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1b1b1b;
    color: #d3ad7f;
    font-size: 22px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.social-media-list li a svg {
    width: 22px;
    height: 22px;
    fill: currentColor;
    /* Ensures that the SVG inherits the color */
}

.social-media-list li a:hover {
    background-color: #d3ad7f;
    color: #000;
    transform: scale(1.1);
}


/* Media Queries */
@media screen and (max-width: 850px) {
    .contact-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .direct-contact-container,
    .form-horizontal {
        max-width: 100%;
    }
}

@media screen and (max-width: 569px) {

    .form-control,
    textarea {
        width: 100%;
    }

    .social-media-list li {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
}

@media screen and (max-width: 410px) {
    .send-button {
        width: 100%;
    }
}
