

.footer {
  background-color: #010103;
  color: #d3ad7f;
  padding: 3rem 7%;
   font-family: 'Lato', sans-serif;
}

.footer-bottom {
  margin-top: 3rem;
  padding-top: 2rem;
  /* border-top: 1px solid #fff; */
  text-align: center;
  font-size: 1.5rem;
  
}
