
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }
  html, body {
    height: 100%;
    overflow-x: hidden;
  }
  
  
 p{
    font-weight: lighter;
 } 

.home {
  min-height: 100vh; /* Make sure it fills at least the full screen */
  padding-top: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .home img{
    margin-left: 95rem;
    margin-top: -40rem;
 }
.home .content{
    max-width: 60rem;
    margin-top: -1rem;
    margin-left: 10rem;

    
}
.home .content h3{
   font-size: 6rem;
   text-transform: uppercase; 
   color: #fff;
}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
    

}
.home span{
    color: #d3ad7f;
    text-transform: uppercase;
    font-size: 6rem;
}


.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
    /* margin-left: 13rem; */
}

.menu .box-container .box {
    padding: 3rem;
    text-align: center;
    border: 1px solid #d3ad7f;
   
    
    
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
}

.menu .box-container .box:hover {

    box-shadow: -6px 6px 0 0 #fff;
}



h1 {
    color: #d3ad7f;
    text-align: center;
    text-transform: capitalize;
    font-size: 6rem;
    padding-top: 2rem;

} 
@media (max-width:991px){
    .home img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home .content{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    h3{
        font-size: 2rem;
    }
    .home{
        flex-direction: column;
        align-items: center;
    }

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding:2rem;
    }
}