.payment-container {
  background-color: #010103;
  padding: 70px 40px;
  /* border-radius: 15px;
  border: 1px solid #444; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  margin-top: 20rem;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.payment-container h2 {
  text-align: center;
  border-bottom: 2px solid #9c6624;
  color: #999;
  font-weight: lighter;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.input-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #222;
  outline: none;
  transition: border-color 0.3s ease;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.input-wrapper input:focus {
  border-color: #d3ad7f;
}

.card-input {
  display: flex;
  align-items: center;
}

.card-logo {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: auto;
  pointer-events: none;
}

.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-row input {
  flex: 1;
  padding: 12px 5px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

.input-row input:focus {
  border-color: #d3ad7f;
}

.error-message {
  color: #9c6624;
  font-size: 1.3rem;
  margin-bottom: 20px;
  text-align: center;
}

.pay-button {
  width: 60%;
  padding: 12px;
  border: 1px solid #d3ad7f;
  background-color: #010103;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-left: 50px;
}

.pay-button:hover {
  background-color: #9c6624;
}

/* Responsive */

@media (max-width: 560px) {
  .payment-container {
    padding: 50px;
    margin-top: 20rem;
    margin-left: 30px;
    width: 350px;
  }
  .payment-container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .input-row {
    flex-direction: column;
    
    
  }
  .input-row input {
    width: 100%;
  }
  .pay-button{
    font-size: 1.5rem;
  }
}
.cart-amount {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}

.delivery-options {
  margin: 10px 0;
  color: #d3ad7f;
}

.delivery-options label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  cursor: pointer;
}

.delivery-options input[type="radio"] {
  margin-right: 8px;
}
.cart-details{
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #d3ad7f;
}


